.Day {
    border: 1px solid black;
    text-align: center;
    width: 14.3%;
}

.Day p {
    font-size: calc(100% + 1vw);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    color: black;

}
