.Content .DaysOfWeek {
    display: flex;
    box-sizing: border-box;
}

.Content .DateOfWeek {
    display: flex;
    box-sizing: border-box;
}

.Content .CalWrapper {
    margin: 50px;
}

.Content .Container {
    background-color: lightgrey;
    height: 920px;
    margin: 10px 30px;
    border: 2px solid black;
    position: relative;
    padding: 10px;
    border-radius: 20px;
}

.Content .SelectDate {
    font-size: 33px;
    color: black;
    font-weight: 580;
    letter-spacing: 2px;
}

.Content .Form {
    background-color: rgb(252, 252, 252);
    margin: 50px 100px;
    border-radius: 30px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 6px solid #305A72;
}

@media(max-width:530px) {
   .Content .CalWrapper {
        margin: 10px;
    }
}
