.Content .DaysOfWeek {
    display: flex;
    box-sizing: border-box;
}

.Content .DateOfWeek {
    display: flex;
    box-sizing: border-box;
}

.Content .Container {
    display: grid;
    background-color: lightgrey;
    height: 608.5px;
    margin: 10px 30px;
    border: thin solid black;
    grid-template-columns: 10% auto;
    position: relative;
}

.Content .SelectDate {
    font-size: 33px;
    color: black;
    font-weight: 580;
    letter-spacing: 2px;
}

.Content .Form {
    background-color: rgb(252, 252, 252);
    margin: 50px 100px;
    border-radius: 30px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 6px solid #305A72;
}
