.Animation{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 177, 48);
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Animation:hover {
    opacity:1;
    transition: all 0.4s ease-out;
}

.Animation p {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: whitesmoke;
    font-size: 180%;
    border:thin solid black;
    min-height: 44%;
    min-width: 60%;
}

.NoAnimation{
    display: none;
}

.Timeslot ul {
    list-style: none;
}
