.Timeslot {
    position: absolute;
    left: 15%;
    color: white;
    width: 80%;
    max-width: 100%;
    z-index: 1;
    border-radius: 12px;
    text-align: left;
}

.Filled {
    background-color: rgba(233, 84, 47, 0.88);
    overflow: hidden;
    
}

.Open {
    background-color: rgb(1,255,112, 0.85);
}

.Animation {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color:  rgb(16, 190, 92);
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
    padding: 6px;
    text-align: center;
}

.Animation:hover {
    opacity:1;
    transition: all 0.4s ease-out;
}

.Animation p {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 27px;
    height: 70%;
    width: 100%;
    margin: auto;
}

@media(max-width:430px) {
    .Animation p {
        font-size: 20px;
    }
}

.NoAnimation {
    display: none;
}

.Timeslot ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.Btn:hover .ToolTip {
    opacity: 1;
}

.Label {
    font-weight: bold;
    color: rgba(255, 255, 255);
    margin-right: 5px;
    font-size: 18px;
}

@media(max-width:530px) {
    .Label {
        display: none;
    }
}

@media(max-width:715px) {
    .Timeslot {
        left: 18%;
        width: 76%;
    }
}

@media(max-width:530px) {
    .Timeslot {
        left: 23%;
        width: 71%;
    }
}
